html {
  /* font-size: 62.5%; 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 4.125rem 1fr 4.125rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  /* padding: 1rem; */
}
footer {
  grid-area: footer;
  background-color: #01876c;
  color: #ffffff;
}
/* Common */

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 0.625rem;
}
input,
select,
textarea {
  padding: 0.5rem 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
  outline: #06d6a0;
}

button.primary {
  background-color: #f0c040;
  border-radius: 0.3125rem;
  padding: 0.5rem 0.625rem;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

/* Header */
header a {
  color: #ffffff;
  padding: 0.625rem;
}

.header-menu i:first-child {
  color: orange;
}

a.brand {
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: bold;
  display: inline-flex;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.125rem 0.4375rem;
  font-size: 0.875rem;
  margin-left: 0.125rem;
}
/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */
.food-header {
  height: 65px;
  background-color: #fff;
  box-shadow: 0 1px 2px #f1f1f1;
  z-index: 1;
}
/* .row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
} */
.col-1 {
  flex: 1 1 15.625rem;
}
.col-2 {
  flex: 2 1 31.25rem;
}
.col-3 {
  flex: 32 1 46.875rem;
}
.min-30 {
  min-width: 18.75rem;
}
.p-1 {
  padding: 0.675rem;
}
/* Aside */
aside {
  position: fixed;
  width: 18.75rem;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 1000;
  transform: translateX(-18.75rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
  border: 0px;
  overflow: auto;
  outline: none;
  box-shadow: rgb(211 200 200) 0px 21px 36px;
}
button.open-sidebar {
  font-size: 1.875rem;
  border-color: #ffffff;
  padding: 0.125rem 0.3125rem;
  margin: 0 0.3125rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
}
button.close-sidebar {
  padding: 0.1875rem 0.5rem;
  outline: 0;
  border: 0;
  background: white;
}

/* Image */
img {
  border-radius: 0.3125rem;
}
img.small {
  max-width: 3.125rem;
  width: 100%;
}
img.medium {
  max-width: 18.125rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.0625rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.3125rem;
  margin: 0.625rem;
}
.card-body {
  padding: 0.625rem;
}
.card-body > * {
  margin-bottom: 0.3125rem;
}
.price {
  font-size: 1.25rem;
  color: rgb(0, 158, 127);
  font-weight: 700;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.125rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 0.625rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.3125rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 37.5rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
}
.form label {
  margin: 0.625rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 10rem;
  padding: 0.625rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.25rem;
  border-radius: 0.3125rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.1875rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 0.625rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.0625rem solid #e4e4e4;
  padding: 0.3125rem;
}
.table button {
  margin: 0 0.125rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 18.75rem;
}

/* Search */
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1vw;
  background-color: #f7f7f7;
  color: #77798c;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  height: 100%;
}
.search i {
  font-size: 20px;
}
.nav-search-input {
  outline: 0;
  border: 0;
  width: 100%;
  background-color: #f7f7f7;
}
.nav-search-input:hover {
  border: 0;
  outline: 0;
  box-shadow: none;
}
.search button {
  border-radius: 0 0.3125rem 0.3125rem 0;
  border-right: none;
  margin-right: 0.3125rem;
}
.search input {
  border-radius: 0.3125rem 0 0 0.3125rem;
  border-right: none;
  margin-left: 0.3125rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -0.625rem;
  height: calc(100% + 1.25rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.3125rem auto;
  width: 15.625rem;
  height: 2.5rem;
  display: flex;
}
.map-input-box input {
  border-radius: 0.625rem 0 0 0.625rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 0.625rem 0.625rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 0.625rem;
  margin: 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 1px #c0c0c0 solid;
  border-radius: 0.5rem;
  flex: 1;
  overflow: hidden;
}
.summary-title {
  font-size: 1.25rem;
  padding: 0.625rem;
}
.summary-body {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 0.625rem;
  bottom: 0.625rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 12.5rem;
}
.chatbox li {
  margin-bottom: 0.625rem;
}
.chatbox input {
  width: calc(100% - 5.625rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.0625rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 0.625rem;
}
.support-messages input {
  width: calc(100% - 5.625rem);
}
.support-messages ul {
  height: calc(100vh - 11.25rem);
  max-height: calc(100vh - 11.25rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 0.625rem;
}

.support-users span {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

.header-menu a {
  color: #01876c;
  font-weight: 600;
}

.login-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.login-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.login-form {
  position: absolute;
  top: 14%;
  right: 12%;
  font-size: 1.125rem;
  width: 25%;
}
.login-form-title__support {
  font-size: 0.875rem;
  color: #8f7d7d;
  font-weight: 400;
}
.login-form label {
  font-weight: 400;
  font-size: 1rem;
}

.register-container {
  width: 100%;
  height: 100%;
  background-color: #fbf9f7;
}

.homepage-container {
  display: flex;
  flex-wrap: wrap;
}

.homepage-item {
  flex: 0 0 20%;
  max-width: 20%;
  background-color: #fff;
  margin-bottom: 2vw;
  border-radius: 6px;
  margin-right: 6.5%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.homepage-item:nth-last-child(1) {
  margin-right: 0;
}
.homepage-item img {
  height: 200px;
  object-fit: cover;
}
.homepage-item:nth-child(4n) {
  margin-right: 0;
}

.sidebar-category-item a {
  color: rgba(236, 72, 153);
}
.sidebar-category-item {
  cursor: pointer;
  padding: 1.25rem !important;
}
.sidebar-category-item:hover {
  background-color: #fff2f4;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.custom-row.center {
  justify-content: center;
}
.custom-row.top {
  align-items: flex-start;
}
.custom-row.start {
  justify-content: flex-start;
}
.department-container a {
  color: rgb(7, 59, 76);
  /* color: #0e705d; */
  /* font-weight: 600 */
}
.department-container a.active {
  color: #b32451;
  /* color: rgb(119, 121, 140); */
}

.customer-review .rating span:last-child {
  color: rgb(7, 59, 76) !important;
  font-size: 1rem !important;
}
.customer-review .active .rating span:last-child {
  color: #b32451 !important;
  font-size: 1rem !important;
}

.part-number {
  background-color: #009e7f;
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  font-size: 0.85rem;
  margin-right: 1vw;
}
